spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: kMo@rprUq

  data:
    redis:
      database: 2
      host: localhost
      port: 6379
      password:
      timeout: 600


server:
  port: 8080